@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Rubik:wght@300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Rubik'
}

body{
    min-width: 100vw;
    height: 100vh;
    position:relative;
}

header,
footer {
    height: 10vh;
    width: 100vw;
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
}

.game .failMeessage {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80vh;
}

.game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    z-index: 10
}

.board {
    margin-top: 30px;
}

.title {
    font-family: 'Bungee Spice';
    font-size: 70px;
    text-align: center;
}

.presentation .description{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    text-align: center;
}

.list {
    margin-top: 5px;
    text-align: start;
}

.list li::marker{
    content:"🎲";
}

.roundData {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: auto;
    align-items: center;
    justify-content: space-around;
}

.scoreBoard,
.throwOk {
    width: 40vw;
    height: 60px;
    font-size: 40px;
    text-align: center;
    margin-top: 20px;
    display:flex;
    align-items: center;
    justify-content: center;
}
.throwOk {
    text-align: start;
    color: white;
    visibility:visible;
    background-color: #008000;
    border-radius: 10px;
    visibility: hidden;
    transition: all 0.5s ease-in-out;
}
.roundData .material-symbols-outlined {
    font-size: 50px;
}

.scoreBoard{
    justify-content: center;
    align-items: center;
    background-color: #623c89;
    color: white;
    border-radius: 10px;
}

.scoreBoard span {
    margin-right: 10px;
}

.currentScore{
    transition:all 0.5s ease-in-out;
    margin-left: 10px;
}

.mainMessage {
    position: fixed;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    font-size: 80px;
}

.mainBtn {
    width: 300px;
    height: 100px;
    border-radius: 10px;
    background-color: red;
    color: white;
    border: 3px solid white;
    margin-top: 30px;
    font-size: 30px;
}

#fail {
    background-color: red;
}

.gameData {
    height: 30%
}

.board {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
}

.cell {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    box-shadow: 4px 4px 4px black;
    border-top: 4px solid #fafad880;
    border-left: 3px solid #fafad880
}

#cell-0 {
  background-color: #347d1e;  
}
#cell-1 {
    background-color: #9c2424; 
}
#cell-2 {
    background-color: #b0a528;  
}
#cell-3 {
    background-color: #1e278a;  
}
#cell-4 {
    background-color: #674ea7; /*#946ff2*/
}
#cell-5 {
    background-color: #c98200; /*#ffa808*/
}
#cell-6 {
    background-color: #c40092; /*#ff08c0*/ 
}
#cell-7 {
    background-color: #167e7e; /*#31feff*/ 
}

#cell-0:hover {
    background-color: #67f73b;  
  }
#cell-1:hover {
      background-color: #f75752; 
  }
#cell-2:hover {
      background-color: #fae92f;  
  }
#cell-3:hover {
      background-color: #3646f5;  
  }
#cell-4:hover {
      background-color: #946ff2; /*#946ff2*/
  }
#cell-5:hover {
      background-color: #ffa808; /*#ffa808*/
  }
#cell-6:hover {
      background-color: #ff08c0; /*#ff08c0*/ 
  }
#cell-7:hover {
      background-color: #31feff; /*#31feff*/ 
  }

.cell:hover,
.cell:focus {
    cursor: pointer;
    box-shadow: 2px 2px 2px;
    border-top: none;
    border-left: none;
}

.no-click {
    pointer-events: none;
}

.buttons {
    height: 30%;
    margin-top: 30px;
}

.btns {
    font-size: 15px;
    color: #332929;
    text-shadow: 1px 1px 1px #aaa5a5;
    background-color: #c6011b;
    border-radius:50%;
    width: 100px;
    height: 100px;
    border: none;
    box-shadow: 5px 5px 5px;
    margin: 0 20px;
    border-top: 4px solid #de556f;
    border-left: 3px solid #de556f;
}

.btns:hover {
    box-shadow: 2px 2px 2px;
    transform: scale(0.95);
    border-top: none;
    border-left: none;
}

.footer {
    background-color: 	#fba542;
    color: white;
    font-size: 15px;
}