* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    min-width: 100vw;
    height: 100vh;
}

.game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.gameData {
    height: 30%
}

.board {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2px;
}

.cell {
    width: 150px;
    height: 150px;
    border: 3px solid black;
    border-radius: 10px;
}

.cell:hover,
.cell:focus {
    cursor: pointer;
    background-color: aquamarine;
}

.no-click {
    pointer-events: none;
}

.buttons {
    height: 30%;
    margin-top: 30px;
}